{% load static %}

<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Form</title>

    <link rel="stylesheet" href="{% static 'products/core/styles/login.css' %}">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css" integrity="sha512-1sCRPdkRXhBV2PBLUdRb4tMg1w2YPf37qatUFeS7zlBy7jJI8Lf4VHwWfZZfpXtYSLy85pkm9GaYVYMfw5BC1A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <div class="body">
    </div>
    <div class="overlay">
      <header>
          <div class="container">
  
              
  
       
      </header>
      <div class="content">
        {% for message in messages %}
        <div class="alert alert-danger d-flex align-items-center" role="alert">

         
        <svg class="bi " role="img" aria-label="Danger:"><use xlink:href="#exclamation-triangle-fill"/></svg>
           <div style="color: yellow">
              <h1>
             {{message}}
            </h1>
           </div>
        </div>


      {%endfor%}
     
            <div class="cont">
        
  
  <div class="form">
    <span class="form__title">Login</span>

     <form method="post">
        {% csrf_token %}

  
   
        <div class="form__field">
   <input type="text" class="form__input" name="username" placeholder="Username"  >
   <i class="form__icon fa-solid fa-user"></i>
</div>
<div class="form__field">
   <input type="password" class="form__input"  name="password" placeholder="Password">
   <i class="form__icon fa-solid fa-lock"></i>
</div>


   <button style="margin-top: 20px" type="submit" class="form__btn">Log in</button>
       <hr>
       
    <div class="form__signup">
       <p>Not registered ? </p><a href="{% url 'reges' %}">Create an account</a>
    </div>
   </form>
  </div>

  <script>
    const hideIcon = document.querySelector('.form__icon--hide');
    const passField = document.querySelector('.form__input--pass');

    hideIcon.addEventListener('click', () => {
      hideIcon.classList.toggle('fa-eye-slash');
      hideIcon.classList.toggle('fa-eye');

      if(hideIcon.classList.contains('fa-eye')){
        passField.type = 'text';
      }else{
        passField.type = 'password';
      }
    })

  </script>


</body>
</html>
