{% extends 'books/base2.html' %} {% block tittle %}Details{% endblock %} 
{%block mycontent%}
<style>
.comment{
    border:solid 1px;
    padding: 20px 20px 20px 20px ;
    border-style: outset;
    border-color: rgb(190, 11, 11);
    border: solid 2px;
    background-color:rgb(255, 255, 255);
    width: 20em;
    height: 85%;
    border-radius: 2em;
    box-shadow: 0 0 2em rgb(0, 0, 0);
  }
</style>
</style>
<body style="background-color: hsl(248, 83%, 7%) ;">

    <div class="comment">
{% if user.is_authenticated %}

<h1  >Add bad word</h1>
<div>
<form method="post" >
    {%csrf_token%}
   {{form}}
   <br>
   <input type="submit" value="Add" class=" btn "  style="background-color: gold ; color: black"/>


</form>
</div>
</div>
</body>

{% endif %}
  
    
    {%endblock%}