{% extends 'books/base2.html' %} {% block tittle %}Details{% endblock %} 



{%block mycontent%}
<style>
  .comment{
    border:solid 1px;
    padding: 20px 20px 20px 20px ;
    border-style: outset;
    

  }
  .card
{
  width: 23rem ;border-radius: 5%  ; background-color: hsl(248, 83%, 7%);
  box-shadow: 0 0 1em black ; align-items: center ;
  /* display: inline-flex; */
  margin-left: 400px;
  
  
 

}
.card__image{
  width:20em;
  height: 17.6em;
  border-radius: 10%;
  border: 5px solid gold;
  
  
}
.card__image img{
  width:20em;
  height: 16.9em;
  border-radius: 8%;
  object-fit: cover;
  
}

  </style>
<div  class="card" align="center" style="margin-top: 40px ; ">
  <!-- <div class="card" style="width: 42rem; display: inline-block ;background-color: hsl(248, 83%, 7%); ;"> -->
    <div class="card__image">
    <img
      src="{{book.get_img_url}}"
      class="card-img-top"
      alt="..."
      width="250"
      height="250"
    />
  </div>
    <hr>
    <div class="d-felx felx-row">
     
      <form action=" {% url 'like' book.pk %}" method="POST">
        {% csrf_token %}
        <input type="hidden" name="next" value="{{request.path}}">

        <button  style="background-color:transparent; border: none ; box-shadow: none; color: white;  " type="submit" >
        <i class="far fa-thumbs-down"> like <span>{{book.like.all.count}}</span></i>
        </button>
       
      
      </form>

      <form action=" {% url 'dislike' book.pk %}" method="POST">
        {% csrf_token %}
        <input type="hidden" name="next" value="{{request.path}}">

        <button style="background-color:transparent; border: none ; box-shadow: none; color: white;" type="submit" >
        <i class="far fa-thumbs-down"> dislike {{book.dislike.all.count}}</i>
        </button>
       
      
      </form>



       <!-- <small> <a href="{% url 'login' %}" > login</a>  must be logged</small>
       -->
      
    </div>


    <div class="card-body" >
      <h5 class="card-title" style="color: white;"><b>Category : </b>{{book.caticory}}</h5>

    
      <h5 class="card-title" style="color: white;"> <b> Title : </b> {{book.tittle}}</h5>
     
      <p class="content" style="color: white;"  ><b> Content </b> {{book.content}}</p>
      
      
      <!-- {% if user.is_staff %}
    

      <a class="btn btn-primary" href="{{book.get_edit_url}}">Ediet</a>
      

      
      <br>
      <br>

      <a  class="btn btn-danger" href="{{book.get_delete_url}}">Delete</a>
      <br>
      <br>
      <a href="{{book.createbookurl}}" class="btn btn-primary">Create Post </a>  
      {% endif %} -->
     
  </div>

</div>
</div>
<div>
  <div class="comment"  >
    <h1 ><strong style="color:blue ; ">  Comments.. </strong></h1>  
   

  {% if not book.commentpost.all%}
      no coments yet 
      {% if  user.is_authenticated %}

      <a href="{% url 'addcomment' book.pk %}" class="btn btn-secondary">Add Comment </a>  
      {% endif %}
      
  {% else %}
 
    {% for comment in book.commentpost.all %}
   
 

    <strong>

      <p> publisher  {{comment.user}} </p>
      <div>  <h1> {{comment.body}}</h1>
        {% if comment.reply %}
        <p> {{comment.reply}}</p>
        {% endif %}
   </div>
    
    {{comment.data_added}}
    {% if  user.is_authenticated %}

    <div> <a href="{% url 'Comment_reply' book.pk  %}" class="btn btn-secondary" > Reply</a></div>
    {% endif %}

     
    <br>
    
   
 

    {% endfor %}
    {% if user.is_authenticated %}
    
    <a href="{% url 'addcomment' book.pk %}" class="btn btn-secondary">Add Comment </a> 
    {% endif %}

     {% endif %}

    </div>
<div style=" position :relative; top:   -700px;  ">
  <h1 ><strong style="color:blue ; "> Related Posts </strong></h1>  
  {%for p in book.caticory.cats.all  %}
  {%if p.id != book.id %}
  
  <li><a style="color:black ;" href="{{p.get_show_url }}">{{p}} </a</li>
    
  {%endif%}

  {%endfor%} </div>
</div>


{%endblock%}
